// Цвет текста
$color-gray: #777777

// Основные цвета
$color-brown: #BA8554
$-color-brown-darck: #A14F03
$color-white: #FFFFFF
$-color-white-darck: #F7F7F7
$color-black: #000000

// Тень для кнопок
$box-shadow: 0 .4rem .4rem rgba($color-black,.3)

$margin-vertical-big: 8rem
$grid-width: 114rem
$gutter-horizontal: 6rem