.section-about
    padding-top: 8rem

.section-advantages
    padding: 21rem 0
    background: linear-gradient(90deg, rgba($color-brown, .7) .03%, rgba($color-black, .7) 99.94%), url(../img/advantages-bg.jpg) center / cover no-repeat
    clip-path: polygon(0 5%, 100% 15%, 100% 95%, 0 85%)